h1 {
  color: #474747;
}

.home-title  {
  background-color: #c7f9ff;
  text-align: center;
}

.container2 {
  /* position: fixed; */
  bottom: 0;
  margin-bottom: 0px;  
}

.col-3 {
  background-color: #c7f9ff;
  width: 100%; 
  z-index: 999;  
  padding: 0px;    
  display: table;  
  text-align: center; 
}

